@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');
.title{
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
  text-align:center;
  min-width:20px;
  color:#333;
}

.subtitle{
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
  text-align:left;
  min-width:20px;
font-size:25px;
  color:#333;
}

#chart-area svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
	height:50px;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}

.progress-meter text {
    font-family:'ZCOOL QingKe HuangYou', sans-serif;
    font-size: 24px;
    font-weight: bold;
}
svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

