.GroupedChart{
    width: 60rem;
    margin: 5rem auto;
}
.GroupedChart p{
    font-size: 1.7rem;
    margin-bottom: 1rem;
}
@media only screen and (max-width: 1024px) {
    .GroupedChart{
        width: 90%;
    }
}
.Container{
    display: flex;
}