.Overview {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
@media only screen and (max-width: 1200px) {
  .Overview {
    align-items: flex-end;
    margin-top: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .Overview {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 90%;
  }
}
