/* Global css */

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

html{
    font-size: 90%;
}

body{
    font-family:  'Titillium Web' , sans-serif;
    font-size: 1.1rem;
}